@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
        transform: rotate(0deg);
        }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(359deg);
        opacity: 1;
        transform: rotate(359deg);
    }
}