.link{
    font-size: 1.15rem;
    color: blue;
    display: block;
    text-decoration: underline;
    &__wrapper{
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    &_orange{
        color: orange;
        font-weight: bold;
        font-size: $font_base;
        cursor: pointer;
        &:hover, &:focus{
            text-shadow: 0.01rem 0.01rem 1rem #000;
        }
    }
}